data/*
src/data/*
*.fut.*
*.vtu
*.vtr
*.o
*.json

src/*
!src/*.fut

*.txt

futtop
futtopExplicit
futtopNonlinear

libmultigrid
libmultigrid.c
libmultigrid.h
libexplicit
libexplicit.c
libexplicit.h
libnonlinear
libnonlinear.c
libnonlinear.h

cSolve
cSolve.c
mgSolve
mgSolve.c
qSolve
qSolve.c
